extends ../sc-layout-bulma
block content 
    section.section(style="background-color: #fafafa;")
        .container.has-text-centered
            h1.title Our brave and attractive authors
            h3.subtitle Want your name here? All it takes is two stories...
            if stars && stars.length > 0
                each author in stars
                    p
                        a(href=`${siteRoot}/a/${author.publicId}`) #{author.name}  
            else
                p sad-face. No one here
    
    if oneHitWonders && oneHitWonders.length > 0
        section.section
            .container.has-text-centered
                h1.title Testing the waters
                h3.subtitle Stories from authors we've only seen once. 
                                            
                each author in oneHitWonders
                    p
                        a(href=`${siteRoot}/a/${author.publicId}`) #{author.name}  

                p Like what you read? Leave a comment and maybe we'll see them again...   
            
    
    section.section(style="background-color: #fafafa;")
        .container.has-text-centered
            p Want in?
            p Write a story. 500 words. Mail it. 
            p.control.has-text-centered(style="padding-top:20px;")
                a.button.is-primary(href="mailto:info@storyclub.co.uk") info@storyclub.co.uk
