mixin storyCard(story={"title":"Test"}, rule={},displayAuthor=true)
    article    
        h2 #{story.title}
        p !{story.html}
        if displayAuthor==true
            details
                | by 
                a(href=`${siteRoot}/pobol/${story.author}`) #{story.author}
