mixin themeCard(theme)
    .theme.column.is-3
        a(href=`${theme.path}`)
            .card(style="border-radius:10px;margin:10px;paddding:10px;")   
                .card-content.has-text-centered
                    p
                        strong #{theme.themeText}                
                    ul
                        each thing in theme.things
                            li #{thing}
                    br
                    p 
                        strong #{helpers.dateFriendly(theme.deadline)}
                    if theme.stories && theme.stories.length > 0
                        p.tag.is-primary 
                            strong Stories: #{theme.stories.length}
                    else   
                        p Stories: 0                    
                    div(style="padding-top:10px;")
                        span.fa-stack
                            i.fas.fa-comment-alt.fa-stack-2x(style="color:#f4bf42")
                            strong.fa-stack-2x(style="color:white;") 0                         
                                    