mixin themeCard(theme)
    .theme.column.is-3
        .card(style="margin:10px;paddding:10px;")                        
            a(href=`${theme.path}`)
                header.card-header(style="padding:10px;")                    
                    p.card-header-title #{theme.themeText}
                    span
                        small #{helpers.dateWithoutYear(theme.deadline)}

                
            .card-body(style="padding:10px;")
                if theme.things
                    ul
                        each thing in theme.things
                            li #{thing}
            .card-footer(style="padding:10px;")
                if theme.stories
                    p Stories: #{theme.stories.length}
                else   
                    p Stories: 0
