extends ../sc-layout-bulma
include ../mixins/_themeInfo
include ../mixins/js/_jsStoryComments

include ../mixins/comments/_singleComment
block content   

    section.section(style="background-color: #fafafa;")
        container.has-text-centered
            h1.title #{theme.themeText}
            
    //- section.section.stories(style="background-color: #fafafa;")
    //-     .container.has-text-centered
    //-         h1.title #{theme.themeText}
    //-         each story in stories
    //-             .columns.is-centered
    //-                 .column.is-2
    //-                     .level.is-marginless
    //-                         .level-left
    //-                             p.level-item
    //-                                 span.fa-stack
    //-                                     i.fas.fa-comment-alt.fa-stack-2x(style="color:#f4bf42")
    //-                                     strong.fa-stack-2x(style="color:white;") #{story.comments.length}                                                                                                                                         
    //-                             .level-item
    //-                                 p.title.is-4
    //-                                     a(href=`${siteRoot}/${story.path}`) #{story.title}
    //-                                 if displayAuthor 
    //-                                     span  by                                     
    //-                                     p.title.is-6
    //-                                         a(href=`${siteRoot}/a/${story.authorUser.publicId}`) #{story.authorUser.name}
                                
                                
    //-                     if displayAuthor 
    //-                         div
    //-                             span
    //-                                 a.heading(href=`${siteRoot}/a/${story.authorUser.publicId}`) #{story.authorUser.name}
    //-                     hr
                
    section.section.stories.theme(data-themeId=theme.publicId)
        .container
            .tilex.is-ancester.is-vertical
                 each story in stories
                    .tile.is-child.cardd
                        .card-content
                            .content    
                                .has-text-centered
                                    span.fa-stack
                                        i.fas.fa-comment-alt.fa-stack-2x(style="color:#f4bf42")
                                        strong.fa-stack-2x.story.commentCount(style="color:white;" data-storyId=story.publicId) #{story.commentCount}           
                                    p
                                        a(href=`${siteRoot}/${story.path}`) #{story.title}
                                    if displayAuthor 
                                        span  by                                     
                                        p.title.is-6
                                            a(href=`${siteRoot}/a/${story.authorUser.publicId}`) #{story.authorUser.name}
                                    hr
                                
                                    
                                    
               
            
            p.control.has-text-centered(style="padding-top:20px;")
                a.button.is-primary(href=`${siteRoot}/${theme.path}/all`) read all stories
                    
    
    section.section.theme
        .container.has-text-centered
            if theme.deadline
                p Original deadline: #{helpers.dateFriendly(theme.deadline)}
            p Things
            ul
                each thing in theme.things
                    li #{thing}

    //- if commentsForTheme.length>0
    //-     h2 Comments! There be comments!
    //-     .commentContainer
    //-         each story in stories
    //-             if story.comments.length>0
    //-                 .story
    //-                     h3 #{story.title}
    //-                     ul.comments
    //-                         each comment in story.comments
    //-                             li.comment
    //-                                 +writeComment(comment)        

    


block code
    +jsStoryComments()