extends sc-layout-bulma
include mixins/_themeInfo
include mixins/_themeCard-bulma

block content
    section.hero(style="background-color: #fafafa;")
        .hero-body
            .container.has-text-centered
                h1.title.is-spaced Just what the heck is storyclub?
                h2.subtitle Make creative writing a regular habit. The Story Club community writes and shares bite sized reads every week


    if recentThemes
        section.section
            .container
                .has-text-centered
                    h1.title Recent challenges           
                .columns.is-centered
                    each theme in recentThemes
                        +themeCard(theme)

                                                  
                p.control.has-text-centered(style="padding-top:20px;")
                    a.button.is-primary(href=`${siteRoot}/themes-2019`) see all challenges
                
            
    if theme
        section.section(style="background-color: #fafafa;")
            .container
                .has-text-centered
                    p
                        span.tag.is-primary latest challenge
                    p
                        strong #{theme.themeText}
                    p.has-text-centered Must include
                        ul
                            each thing in theme.things
                                li #{thing}
                    p Get 'er done by #{helpers.dateFriendly(theme.deadline)}


    section.section
        .container.has-text-centered
            h1.title How It Works
            .level  
                span.level-item Write it
                span.level-item Read it
                span.level-item 
                    strong And feedback!
    
            p Be part of a growing and completely non-influential community.



    if comments
        section.section(style="background-color: #fafafa;")
            .container
                .has-text-centered  
                    h1.title(style="padding:20px") Recent feedback
                .columns.is-centered.is-vcentered.is-multiline.is-3   
                    each comment in comments        
                        .box.column.is-3(style="margin:20px;")
                            article.media                                   
                                .media-content
                                    .content
                                        p 
                                            strong #{comment.userId}
                                            small 
                                                span.when #{comment.when}     
                                            br
                                            p !{comment.text}
                                        div 
                                            a(href=`${siteRoot}/${comment.story.path}`) #{comment.story.title}
                            
                    
block code
    script.
        for(const span of document.querySelectorAll("span.when"))
        {
            
            console.log("#" + span.innerText.trim() + "#");
            span.innerText = moment(span.innerText.trim()).fromNow();
        }
