extends sc-layout-bulma
include mixins/_themeInfo


block content

    p Ever wanted to write a story about a man who loses his head and meets a giant seagull?  Or maybe the one where the man who fits sails to his car is more up your street.
    p Got a tale to tell? Is there a story inside you just bursting to get out? Welcome to Story Club - you have found your people.
    p Make creative writing a regular habit. The Story Club community writes and shares bite sized reads every week.

    h1 How it works
    ul
        li Check out the latest challenge on the Story Club website
        li Write your 500 word story and submit it within the week
        li Read everyone else’s work and FEEDBACK - it’s all about helping each other improve.
        li Write, rinse repeat

    p.hero Be part of a growing and completely non-influential community.


    if theme
        h1 Latest theme!
        //-p get it done by #{theme.deadline}
        +themeInfo(theme,true)
    if comments
        h1 Recent feedback
        each comment in comments        
            .comment
                .header
                    span.author #{comment.userId}
                    span •
                    span.when #{comment.when}                    
                    span.story on 
                        a(href=`${siteRoot}/${comment.story.path}`) #{comment.story.title}
                .body !{comment.text}                        
                    
block code
    script.
        for(const span of document.querySelectorAll("span.when"))
        {
            
            console.log("#" + span.innerText.trim() + "#");
            span.innerText = moment(span.innerText.trim()).fromNow();
        }
