extends sc-layout-bulma
include mixins/_themeInfo
include mixins/_themeCard-bulma-2
include mixins/js/_jsThemeComments
include mixins/js/_jsRecentComments

block content
    section.hero(style="background-color: #fafafa;")
        .hero-body
            .container.has-text-centered
                h1.title.is-spaced Just what the heck is storyclub?
                h2.subtitle Make creative writing a regular habit. The Story Club community writes and shares bite sized reads every week
                //- columns
                //-     .column.is-3
                //-         figure.image.is-4by3
                //-             img(src="/typewriter.jpg" alt="Typewriter keyboard skillfully edited so that the keys spell out 'storyclub'")
                p.control.has-text-centered(style="padding-top:20px;")
                    a.button.is-primary.has-text-weight-bold(href=`${siteRoot}/latest`) check out this week's challenge
                
    if recentThemes
        section.section
            .container
                .has-text-centered
                    h1.title Recent challenges           
                .columns.is-centered
                    each theme in recentThemes
                        +themeCard(theme)

                                                  
                p.control.has-text-centered(style="padding-top:20px;")
                    a.button.is-primary(href=`${siteRoot}/themes-2019`) see all challenges
                
            
    if theme && disableLatestThemeOnHomePage
        section.section(style="background-color: #fafafa;")
            .container
                .columns.is-multiline.is-centered.is-vcentered
                    .column.is-3
                        .card(style="border-radius:10px")
                            .card-content.has-text-centered
                                p
                                    span.tag.is-primary latest challenge
                                p
                                    strong #{theme.themeText}
                                p.has-text-centered Must include
                                    ul
                                        each thing in theme.things
                                            li #{thing}
                                p 
                                    strong Get 'er done by #{helpers.dateFriendly(theme.deadline)}


    //- section.section
    //-     .columns.is-multiline.is-centered.is-vcentered
    //-         .column.is-2
    //-             .card
    //-                 .card-content
    //-                     .content    
    //-                         .has-text-centered
    //-                             i.fas.fa-5x.fa-w-20.fa-pencil-alt(style="color:#f4bf42")
    //-                             h3.subtitle.is-3 Write it
    //-                             p Knock out five hundred words and submit it by Wednesday
    //-         .column.is-2
    //-             .card
    //-                 .card-content
    //-                     .content    
    //-                         .has-text-centered
    //-                             i.fas.fa-5x.fa-w-20.fa-book-reader(style="color:#f4bf42")
    //-                             h3.subtitle.is-3 Read it  
    //-                             p Read everyone else's work                              
    //-         .column.is-2
    //-             .card
    //-                 .card-content
    //-                     .content    
    //-                         .has-text-centered
    //-                             i.far.fa-5x.fa-w-20.fa-comments(style="color:#f4bf42")
    //-                             h3.subtitle.is-3 Feedback it
    //-                             p What did you think? Liked it? Loathed it? 
                                                                

    section.section
        .container
            .tile.is-ancestor
                .tile.is-parent
                    .tile.is-child.card                       
                        .card-content
                            .content    
                                .has-text-centered
                                    i.fas.fa-5x.fa-w-20.fa-pencil-alt(style="color:#f4bf42")
                                    h3.subtitle.is-3 Write
                                    p Knock out five hundred words and submit it by Wednesday
                .tile.is-parent
                    .tile.is-child.card                        
                        .card-content
                            .content    
                                .has-text-centered
                                    i.fas.fa-5x.fa-w-20.fa-book-reader(style="color:#f4bf42")
                                    h3.subtitle.is-3 Read
                                    p Read everyone else's work                              
                .tile.is-parent
                    .tile.is-child.card
                        .card-content
                            .content    
                                .has-text-centered
                                    i.far.fa-5x.fa-w-20.fa-comments(style="color:#f4bf42")
                                    h3.subtitle.is-3 Reply
                                    p What did you think? Liked it? Loathed it? 
                                                                    
                       
    
            //-p Be part of a growing and completely non-influential community.



    
    section.section(style="background-color: #fafafa;")
        .container
            .has-text-centered  
                h1.title(style="padding:20px") Recent feedback                
                .columns.is-centered.is-vcentered.is-multiline.is-3.recentComments
                    .box.column.is-3.loading
                        h2.subtitle.is-4 Loading feedback...
            .template(style="display:none;")
                .box.column.is-3(style="margin:20px;")
                    article.media                                   
                        .media-content
                            .content
                                p 
                                    strong $userId
                                    small 
                                        span.when $when    
                                    br
                                    p $comment
                                div 
                                    a(href=`$storyPath`) $storyTitle           
                            
                    
block code
    //-script(src="https://unpkg.com/axios/dist/axios.min.js")
    
    +jsRecentComments()
    +jsThemeComments()
    