extends sc-layout-bulma
include mixins/_themeInfo

include mixins/comments/_singleComment
block content      
    section.section.stories(style="background-color: #fafafa;")
        .container.has-text-centered
            h1.title #{theme.themeText}
            each story in stories
                p
                    a(href=`${siteRoot}/${story.path}`) #{story.title}
                    if displayAuthor 
                        span  - #{story.authorUser.name}
                //- if story.comments.length>0
                //-     .commentContainer
                //-         .story                    
                //-             ul.comments
                //-                 each comment in story.comments
                //-                     li.comment
                //-                         +writeComment(comment)                

            
            p.control.has-text-centered(style="padding-top:20px;")
                a.button.is-primary(href=`${siteRoot}/${theme.path}/all`) read all stories
                    
    
    section.section.theme
        .container.has-text-centered
            if theme.deadline
                p Original deadline: #{helpers.dateFriendly(theme.deadline)}
            p Things
            ul
                each thing in theme.things
                    li #{thing}

    //- if commentsForTheme.length>0
    //-     h2 Comments! There be comments!
    //-     .commentContainer
    //-         each story in stories
    //-             if story.comments.length>0
    //-                 .story
    //-                     h3 #{story.title}
    //-                     ul.comments
    //-                         each comment in story.comments
    //-                             li.comment
    //-                                 +writeComment(comment)        

    

