extends sc-layout-bulma
include mixins/_themeInfo
block content
    
    //-pre= helpers.dump(themes)
    //- section.themes
    //-     each year in themesGrouped    
    //-             h1.year #{year.year}
    //-             each theme in year.themes
    //-                 .theme
    //-                     h1 
    //-                         a(href=`${theme.path}`) #{theme.themeText}
    //-                     ul
    //-                         each thing in theme.things
    //-                             li #{thing}

    .tabs.is-centered
        ul
            each navYear in years
                li(class=(year===navYear?'is-active':''))
                    a(href=`themes-${navYear}`) #{navYear}
    section.section.themes
        .container
            each theme in themes
                .theme.box                    
                    a(href=`${theme.path}`)
                        h1.title  #{theme.themeText}
                    ul
                        each thing in theme.things
                            li #{thing}

                        