extends sc-layout-bulma
include mixins/_themeInfo
include mixins/_themeCard-bulma-2
include mixins/js/_jsThemeComments
block content
    
    //-pre= helpers.dump(themes)
    //- section.themes
    //-     each year in themesGrouped    
    //-             h1.year #{year.year}
    //-             each theme in year.themes
    //-                 .theme
    //-                     h1 
    //-                         a(href=`${theme.path}`) #{theme.themeText}
    //-                     ul
    //-                         each thing in theme.things
    //-                             li #{thing}
    
    //-.is-hidden-mobile
    .tabs.is-centered 
        ul
            each navYear in years
                li(class=(year===navYear?'is-active':''))
                    a(href=`themes-${navYear}`) #{navYear}

    //- aside.container.menu.is-hidden-tablet.box(style="margin:10px;")
    //-     ul.menu-list
    //-         each navYear in years
    //-             li
    //-                 a(href=`themes-${navYear}` class=(year===navYear?'is-active':'')) #{navYear}



    section.section.themes
        .container.has-text-centered   
            .columns.is-multiline.is-gapless.is-centered
                each theme in themes
                    +themeCard(theme)


block code
    +jsThemeComments()
    