extends sc-layout
include mixins/_storyCard
include mixins/_comments
include mixins/_themeInfo
block content         
        
    h1 #{user.publicId}

    if user.about && user.about.html
        p !{user.about.html}

    if storiesByYear && storiesByYear.length > 0
        h1 All stories
        

        each year in storiesByYear
            .year
                p #{year.year}
                ul
                    each story in year.stories
                        li
                            a(href=`${siteRoot}/${story.path}`) #{story.title}

block aside
