extends sc-layout
include mixins/_themeInfo


block content
    //-pre= helpers.dump(comments)
    p Yo. This is Storyclub. Just don't talk about it. Okay?
    p But you can feedback. And you bloody should, you non-feedbacking slacker. 

    if theme
        h1 Latest theme!
        //-p get it done by #{theme.deadline}
        +themeInfo(theme,true)
    if comments
        h1 Recent feedback
        each comment in comments        
            .comment
                .header
                    span.author #{comment.userId}
                    span •
                    span.when #{comment.when}                    
                    span.story on 
                        a(href=`${siteRoot}/${comment.story.path}`) #{comment.story.title}
                .body
                    span.text #{comment.text}                        
                    
block code
    script.
        for(const span of document.querySelectorAll("span.when"))
        {
            
            console.log("#" + span.innerText.trim() + "#");
            span.innerText = moment(span.innerText.trim()).fromNow();
        }
