html
    head
        if title
            title= `${title}`
        else
            title= `${helpers.siteName}`
        link(rel='stylesheet', href=`${siteRoot}/grid.css`)
        link(rel='stylesheet', href=`${siteRoot}/grid_style.css`)
        //-link(rel='stylesheet', href=`${siteRoot}/reset.css`)
        //-link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
        meta(name="viewport" content="width=device-width, initial-scale=1")        
        meta(charset="UTF-8")
        script(src="https://unpkg.com/axios/dist/axios.min.js")

    body
        
        header  
            nav              
                a(href=`${siteRoot}/`) storyclub
                a(href=`${siteRoot}/themes`) themes                    
                a(href=`${siteRoot}/about`) about            
        main
            block content
        aside
            block aside            


        block footer
            footer                
                a(href="mailto:storymarmalade@gmail.com") storymarmalade@gmail.com                                
                a(href="https://twitter.com/storymarmalade") twitter: storymarmalade
                
