html
    head
        if title
            title= `${title}`
        else
            title= `${helpers.siteName}`
        link(rel='stylesheet', href=`${siteRoot}/reset.css`)
        //-link(rel='stylesheet', href=`${siteRoot}/local.css`)
        //-link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
        meta(name="viewport" content="width=device-width, initial-scale=1")        
        meta(charset="UTF-8")
        script(src="https://unpkg.com/axios/dist/axios.min.js")

    body
        
        header.site-header
            .wrapper
                a.site-title(href=`${siteRoot}/`) #{helpers.siteName}
                if hack_backLink
                    span.site-title  /  
                    a.site-title(href=`${siteRoot}/${hack_backLink.path}`) #{hack_backLink.displayText}
                nav.site-nav
                    .trigger
                        a.page-link(href=`${siteRoot}/about`) About

        main.page-content
            .wrapper
                //-pre= helpers.dump(locals)
                block content

        block footer
            footer.site-footer
                .wrapper
                    .footer-col-wrapper
                        .footer-col.footer-col-1
                            ul.contact-list
                                li 
                                    a(href="mailto:storymarmalade@gmail.com") storymarmalade@gmail.com                                
                        .footer-col.footer-col-2
                            ul.social-media-list
                                li 
                                    a(href="https://twitter.com/storymarmalade") twitter: storymarmalade
                                li (c) Storyclub
                        .footer-col.footer-col-3
                            p 
