extends sc-layout
include mixins/_themeCard
block content  
    

    +themeCard(theme)

    each story in stories
        p
            a(href=`${siteRoot}/${story.path}`) #{story.title}
            |  [
            a(href=`${siteRoot}/${story.path}#disqus_thread`) 0 comments
            | ]


    a(href=`${siteRoot}/${theme.path}/all`) Single page view
