extends sc-layout
include mixins/_themeCard
block content  
    
    if options.displayThemeInfo
        +themeCard(theme)

    each story in stories
        p
            a(href=`${siteRoot}/${story.path}`) #{story.title}
            |  [
            a(href=`${siteRoot}/${story.path}#disqus_thread`) 0 comments
            | ]


    a(href=`${siteRoot}/${themePath}/all`) Single page view
